@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap);

* {
  box-sizing: border-box;
}

html {
  font-family: Noto;
}
body {
  margin: 0;
  background-color: #e74f66;
}
